<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Leverage the advanced password manager's benefits</title>

    <!-- Favicon #TO ADD -->

    <!-- Icons  -->
    <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="./core.css">

    <!-- Javascript -->
    <script src="./core.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body>

    <div class="filterMe"></div>
    <div class="parent">
        <!-- Sidenav -->
        <div class="sidenav">
            <div class="logo">
                <h2>PassMeIN</h2>
            </div>
            <div class="linkeropts">
                <ul>
                    <li>
                        <a href="./index.html">
                            <i class="ni ni-tv-2 "></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="./profile.html">
                            <i class="ni ni-single-02"></i>
                            My Profile
                        </a>
                    </li>
                    <li>
                        <a href="./settings.html">
                            <i class="ni ni-settings "></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="./getting-started.html">
                            <i class="ni ni-spaceship"></i>
                            Getting Started
                        </a>
                    </li>
                    <li>
                        <a href="./contact-us.html">
                            <i class="ni ni-chat-round "></i>
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a href="../index.html">
                            <i class="ni ni-user-run"></i>
                            Logout
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="main-content">
            <div class="header">
                <div class="uppernav">
                    <h3>DASHBOARD</h3>


                    <div class="side-button">
                        <a href="profile.html">
                            <div class="docker">

                                <h3>Jessica</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="account">
                    <div class="act-header">
                        <h2>We are here to help you</h2>
                    </div>
                    <div class="account-form customer-care" style="color:black;">
                        <div class="card-helper">
                            <h3>ABC</h3>
                            <p>98xxxxxxxx</p>
                        </div>
                        <div class="card-helper">
                            <h3>DEF</h3>
                            <p>98xxxxxxxx</p>
                        </div>
                        <div class="card-helper">
                            <h3>GHI</h3>
                            <p>98xxxxxxxx</p>
                        </div>
                        <div class="card-helper">
                            <h3>JKL</h3>
                            <p>98xxxxxxxx</p>
                        </div>
                        <div class="card-helper">
                            <h3>MNO</h3>
                            <p>98xxxxxxxx</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>