html
    head
        title= "Register"
    body
        form(action="/register",method= "POST")
            input(type="email", name="em", placeholder="EMAIL")
            br
            input(type="number", name= "number", placeholder="PHONENUM")
            input(type="submit", value="submit")