.contact{
    width: 70%;
    margin: 2% auto;
    border-radius: 5px;
    padding: 5%;
    background: #fefefe ;
}
.contact .header{
    color: #222222;
    text-align: center;
}
.customer-care .card-helper{
    padding: 3%;
    border-radius: 5px;
    width: 45%;
    background-color: #d32d27;
    margin: 2% 1% 0 1%;
    color: #FEFEFE;
    text-align: center;
    cursor: pointer;
    transform: scale(0.95);
}
.customer-care .card-helper:hover{
    transform: scale(1);
    transition: transform 0.2s;
}
.contact .customer-care{
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
