<div class="contact">
    <div class="header">
        <h2>We are here to help you</h2>
    </div>
    <div class="customer-care" style="color:black;">
        <div class="card-helper">
            <h3>ABC</h3>
            <p>98xxxxxxxx</p>
        </div>
        <div class="card-helper">
            <h3>DEF</h3>
            <p>98xxxxxxxx</p>
        </div>
        <div class="card-helper">
            <h3>GHI</h3>
            <p>98xxxxxxxx</p>
        </div>
        <div class="card-helper">
            <h3>JKL</h3>
            <p>98xxxxxxxx</p>
        </div>
        <div class="card-helper">
            <h3>MNO</h3>
            <p>98xxxxxxxx</p>
        </div>
    </div>
</div>